
body,
html {
    height: 100%
}

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}
.preloader-spinner {
    border: 5px solid #a9c13b;
}
@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #f0f0f0;
    min-height: 100%;
    padding-bottom: 60px;
}

#footer-menu {
    position: fixed;
    bottom: 0;
    transition: all 250ms ease;
    right: 0;
    left: 0;
    z-index: 98;
    background-color: rgba(249,249,249,.98);
    min-height: 60px;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.06);
    overflow: hidden;
    display: flex;
}
.footer-menu-5-icons a {
    width: 25%;
    display:inline-block;
}
#footer-menu a {
    color: #1f1f1f;
    text-align: center;
}
#footer-menu .active-nav, #footer-menu a, #footer-menu i, #footer-menu span {
    transition: all .2s ease!important;
}
#footer-menu a i {
    padding-top: 15px;
    font-size: 18px;
}

.is-not-ios #footer-menu a i {
    padding-top: 13px;
}
#footer-menu .active-nav, #footer-menu a, #footer-menu i, #footer-menu span {
    transition: all .2s ease!important;
} 
.active-nav * {
    color: #a9c13b !important;
}
.is-not-ios #footer-menu a span {
    padding-top: 30px;
    opacity: .6;
}
#footer-menu a span {
    font-weight: 500;
    font-size: 10px;
}
#footer-menu a span {
    text-align: center;
    display:block;
    color: #777;
}







.audio_container {
    position: relative;
    margin-top: 50px;
    display: block;
}
.audio_main {
    background: #ffeff5;
    position: relative;
    height: 100%;
    padding-top: 60px;
}
.icon {
    display: inline-block;
    text-align: center;
    line-height: 58px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    background: #d7dce2;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.icon img {
    width: 30px;
    height: 30px;
}
.player,
.player__album:before,
.player__play svg {
    position: relative;
}

.player.play .player__timeline {
    -webkit-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
}

.player.play .player__album:after {
    -webkit-box-shadow: 0 30px 28px -10px rgba(0, 0, 0, .2);
    box-shadow: 0 30px 28px -10px rgba(0, 0, 0, .2)
}

.player.play .player__album {
    top: -65px;
}
.player .pause {
    display: none;
}
.player.play .pause {
    display: inline-block;
}

.player.play .play {
    display: none;
}

.player__album {
    width: 75px;
    height: 75px;
    margin-right: 22px;
    position: relative;
    top: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.player__album:before {
    content: '';
    width: 26px;
    height: 26px;
    z-index: 3;
    background: #fff;
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
}

.player__album,
.player__album:after,
.player__album:before,
.player__albumImg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.player__album:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute;
}

.player__albumImg {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 2;
    display: none;
}

.player__albumImg.active-song {
    display: block;
}

.player__bar,
.player__controls,
.player__play,
.player__prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.player__bar {
    background: #fff;
    padding: 10px 25px;
    height: 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 30px 56px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 30px 56px 6px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 3;
}

.player__controls,
.player__play,
.player__prev {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.player__play,
.player__prev {
    cursor: pointer;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 3px;
    background: #efefef;
}

.player__prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.player__prev img, .player__next img {
    width: 30px;
}
.player__next:hover,
.player__play:hover,
.player__prev:hover {
    background: #d7dce2;
}

.player__play:hover svg,
.player__prev:hover svg {
    fill: #fff;
}

.player__play {
    position: relative;
    margin: 0 10px;
}

.player__play svg {
    font-size: 20px;
}

.player__play svg.pause {
    display: none;
}

.player__next,
.player__play,
.player__timeline {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.player__next {
    cursor: pointer;
    width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 50px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #efefef;
}

.player__next:hover svg {
    fill: #fff;
}

.player__timeline {
    background: #f4f7e5;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    padding-left: 115px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.player #playhead,
.player__timeline,
.player__timelineBar {
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.player__timelineBar {
    background: #e7e7e7;
    margin-top: 13px;
    width: 95%;
    height: 4px;
    position: relative;
    overflow: hidden;
}

.player #playhead {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #a9c13b;
}

.player__author {
    line-height: 1 !important;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 6px !important;
}

.player__song {
    line-height: 1 !important;
    margin: 0;
    font-size: 12px;
    color: #949494;
    margin-bottom: 0 !important;
}

.caption {
    z-index: 2;
    margin-bottom: 30px
}

.caption-margins {
    margin: 0 15px 30px;
    position: relative;
}
.is-not-ios .page-content {
    padding-bottom: 60px;
}
.header-clear-small {
    padding-top: 20px;
}
.page-content {
    transition: transform .3s ease;
    /* box-shadow: 0 5px 30px 0 rgba(0,0,0,.11); */
    z-index: 90;
}
.single-slider {
    z-index: 50!important;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
.shadow-large {
    /* box-shadow: 0 5px 15px 0 rgba(0,0,0,.09)!important; */
}
.bottom-20 {
    margin-bottom: 20px!important;
}

.caption-bottom {
    bottom: 0; 
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}
.bolder {
    font-weight: 700!important;
}
.center-text, .text-center {
    text-align: center;
    display: block;
}
.center-text, .left-text, .right-text, .text-center, .text-left, .text-right {
    display: block;
}
.color-white {
    color: #fff!important;
}
.caption-bottom h1 {
    font-size: 24px;
    line-height: 30px;
}
.opacity-80 {
    opacity: 0.8;
}
.under-heading {
    margin-top: -8px;
}
.caption-overlay {
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -1px;
    pointer-events: none;
}
.bg-gradient {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 20%,rgba(0,0,0,.1) 30%,rgba(0,0,0,.8) 70%,rgba(0,0,0,1) 100%);
}
.caption-overlay, .cover-controls, .dropdown-style-1 i, .dropdown-style-2 i, .map-full .caption {
    top: 0;
    position: absolute;
    border-radius: 15px !important;
}
.caption-image {
    display: block;
    width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: opacity .4s ease;
    opacity: 1 !important;
    border-radius: 15px !important;
}
.content-boxed {
    background-color: #fff;
    margin: 15px 15px 30px;
    display: block;
    border-radius: 13px!important;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.08);
    padding-top: 20px;
    overflow: hidden;
}
.content-boxed .content {
    margin: 0 15px 30px;
}
.content-boxed h1 {
    font-size: 24px;
    line-height: 30px;
}
.font-12 {
    font-size: 12px!important;
} 
.bottom-10 {
    margin-bottom: 10px!important;
} 
.color-highlight {
    color: #a9c13b !important;
}
.content-boxed p {
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #6c6c6c;   
}

.divider {
    background-color: rgba(0,0,0,.04);
    margin-bottom: 30px;
}
.divider, .divider-icon {
    height: 1px;
    display: block;
}
.grid-columns {
    display: table;
    width: 100%;
}
.grid-columns div {
    width: 46%;
    text-align: center;
    float: left;
    margin-left: 3%;
}

.grid-columns div:nth-child(2n+1) {
    margin-right: 3%;
    margin-left: 0;
}
.grid-columns div i {
    line-height: 70px;
    width: 70px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
} 
.color-yellow1-dark {
    color: #a9c13b !important;
}
.content-boxed h3 {
    font-size: 20px;
}
.grid-columns div p {
    line-height: 20px;
    font-size: 12px;
}
.button-round-large {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #a9c13b;
    font-size: 25px;
    padding: 5px 10px;
}
.content-boxed .content .caption-margins {
    margin: 0;
}
.page-details.content-boxed p { 
    margin-bottom: 15px; 
}
.bold-font {
    font-weight: 600;
}
.start_screen {
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.start_content {
    position: relative;
    display: block;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
}

.logo_start {
    height: 185px;
    width: 185px;
    display: block;
    margin: 0 auto 30px;
    border: 2px solid #fff;
    border-radius: 40px 58px 80px 20px;
    background: #ffffff;
    padding: 10px 10px 10px 0px;
}

.logo_start img {
    height: 100%;
}

.title-c {
    display: block;
    margin: 20px 0;
}

.title-c h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
} 

.title-c p {
    margin: 5px 0;
    color: #efefef;
}
.start_bg {
    position: absolute;
    background: linear-gradient(0deg, #2196F3, #84d7ff);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-holder {
    position: relative;
    margin-top: 20px;
    display: block;
    min-height: 100px;
}

.video-holder a {
    background: #FFC107;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.video-holder a:before {
    content: "";
    background: #FFC107;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    -webkit-animation: video-icon-animation 1.4s linear infinite;
    animation: video-icon-animation 1.4s linear infinite;
}

.video-holder a:after {
    content: "";
    background: #FFC107;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: -1;
    -webkit-animation: video-icon-animation 1.4s 0.7s linear infinite;
    animation: video-icon-animation 1.4s 0.7s linear infinite;
}
@-webkit-keyframes video-icon-animation {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(2,2);
        transform: scale(2,2);
        opacity: 0;
    }
}

@keyframes video-icon-animation {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(2,2);
        transform: scale(2,2);
        opacity: 0;
    }
}
.bg-start {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: url(../images/bg.jpg) no-repeat bottom;
    background-size: cover;
} 