/* large monitor */
@media (min-width: 1500px) and (max-width: 1800px){ 
   
}
/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
   
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
   

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
   

}


/* small mobile :320px. */
@media (max-width: 767px) { 

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}
@media (min-width: 450px) and (max-width: 1024px) {
    .single-product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.25rem;
    }
    .single-product .round-medium {
        width: 49%;
        margin: 0;
    }
}
@media (max-width: 450px) { 
    .bg { 
        background: url(../images/sign-bg-01.png) no-repeat top left;
        background-size: cover;
    }
}