* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body {
    font-weight: normal;
    font-style: normal;
    color: #333;
    background: #f3f0eb;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
a:hover, a:focus {
    text-decoration: none;
}
p {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 14px;
    color: #777;
}
ul li {
    list-style-type: none;
}
img {
    width: 100%;
}
.sign-up {
    background: #fcfcff;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    position: relative;
    overflow: hidden;
    padding-left: 240px;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: url(../images/sign-bg-01.png) no-repeat center;
    background-size: cover;
}
.bg img {
    height: 100%;
    position: relative;
    object-fit: fill;
}
.sign-up-content {
    position: relative;
    z-index: 2;
    width: 100%;
}
.sign-up .logo {
    width: 90px;
    margin: 0 auto 20px;
}
.sign-up .navbar-brand {
    float: none;
}

.form-trial {
    margin: 0 auto;
}
.col-lg-5 {
    max-width: 400px;
}
.form-trial h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.name, .password, .submit {
    margin-bottom: 15px;
    display: block;
}

.form-trial input {
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    padding-left: 15px;
    border-radius: 25px;
    background-color: #ececec;
    /* -webkit-box-shadow: 0 0 9.9px 0.1px rgba(0,0,0,.1); */
    /* box-shadow: 0 0 9.9px 0.1px rgba(0,0,0,.1); */
    box-sizing: border-box !important;
}
.form-trial input::placeholder {
    color: #777;
}
.form-trial button {
    border: 0;
    color: #fff;
    position: relative;
    background-image: -moz-linear-gradient(-180deg,#1cb2d3 0,#77ecdb 100%);
    background-image: -webkit-linear-gradient(-180deg,#a9c13b 0,#8BC34A 100%);
    background-image: -ms-linear-gradient(-180deg,#1cb2d3 0,#77ecdb 100%);
    /* -webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,.18); */
    /* box-shadow: 0 0 18px 0 rgba(0,0,0,.18); */
    width: 100%;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.log-in-option {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.log-in-checkbox p {
    margin: 0;
}

.forgot-password a {
    font-size: 13px;
    color: #777;
}

.log-in-checkbox span {
    font-size: 13px !important;
    font-weight: 400;
    color: #777;
}
.edit_by {
    position: absolute;
    bottom: 20px;
}

.edit_by a {
    color: #a9c13b;
}


/*dashboard*/

main, footer, .side-nav {
    transition: .3s;
    box-shadow: none;
}

.header_sidenav {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_sidenav img {
    height: 50px;
    width: auto;
    margin: 0 auto;
}

.header_sidenav .row {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.side-nav li .profile {
    padding: 10px 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.6;
}
.side-nav li .profile img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: left;
}
.side-nav li .profile .group {
    color: #464646;
    margin-left: 15px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}
.side-nav li .profile .group .name {
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 15px;
    display: block;
    margin-top: 0;
    font-weight: 600;
    text-transform: capitalize;
}

.main_menu_navigation li a {
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    display: flex !important;
    align-items: center;
    font-size: 13px;
    text-transform: capitalize;
    color: #444;
    position: relative;
}
.side-nav li.active a {
    color: #a9c13b;
    font-weight: 500;
}
.main_menu_navigation li a i {
    margin-right: 10px;
    font-size: 16px;
    position: absolute;
    right: 0;
}
.side-nav .collapsible li.nav-profile {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.side-nav .collapsible li.nav-profile a.nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
}
.nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
}
.nav-profile .nav-link .nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}
.nav-profile .nav-link .nav-profile-text {
    margin-left: 1rem;
}
.font-weight-bold {
    font-weight: 700 !important;
    display: block;
}

.mb-2, .my-2 {
    margin-bottom: 5px !important;
}
.text-small {
    font-size: 12px;
}
.text-secondary {
    color: #d8d8d8 !important;
}
header, main, footer {
    padding-left: 240px;
}

nav.site-head {
    height: 63px;
    line-height: 55px;
    background: linear-gradient(120deg, #cee466, #acc43e);
    position: fixed;
    z-index: 980;
    right: 0;
    top: 0;
    box-shadow: none;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
}
.nav-wrapper a, .nav-wrapper .breadcrumb {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}
.page-title-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    line-height: 36px !important;
    box-shadow: 0px 3px 8.3px 0.7px rgb(188, 211, 79);
    font-size: 17px !important;
}

.bg-gradient-primary {
    background: linear-gradient(to right, #cbe260, #b1c843);
}

.text-white {
    color: #fff;
}

.mr-2 {
    margin-right: 10px;
}
.toggle-sidenav {
    position: relative;
    width: 30px;
    height: 63px;
    display: inline-flex;
    top: 0;
    margin-left: 255px;
    transition: .3s;
    line-height: 63px;
}
.toggle-sidenav span {
    height: 1px;
    width: 30px;
    background: #fff;
    position: relative;
    display: block;
    line-height: 63px;
    top: 31px;
}

.toggle-sidenav span:before, .toggle-sidenav span:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 25px;
    background: #fff;
    top: -10px;
    display: block;
    z-index: 1;
    right: 0;
}

.toggle-sidenav span:after {
    top: 10px;
}
.side-nav.hide-nav {
    transform: translateX(-105%);
    transition: .3s;
}

.full-left {
    padding-left: 0;
    transition: .3s;
}
.toggle-sidenav.margin0 {
    margin-left: 35px;
}

.nav-item .nav-link {
    background: transparent !important;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 63px;
    color: #fff;
    position: relative;
}
.nav-item .nav-link i {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-item .nav-link .count {
    position: absolute;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #CDDC39;
    color: #ffffff;
    font-size: 11px;
    top: 15px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
    text-align: center;
}
.hide-on-med-and-down li.d-xl-inline-block a {
    display: flex;
    align-items: center;
    height: 63px;
    position: relative;
    justify-content: center;
    color: #fff;
}
.nav-item .nav-link {
    background: transparent !important;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 63px;
    color: #ffffff;
    position: relative;
}
.nav-item .nav-link span.profile-text {
    margin-right: 10px;  
    font-size: 13px;
    font-weight: 500;
}
.rounded-circle {
    border-radius: 100%;
}
.img-xs {
    width: 37px;
    height: 37px;
}
.dropdown-nav {
    margin-top: 0;
    position: absolute;
    top: calc(100% + 5px);
    right: 20px;
    left: auto;
    padding: 10px 0 15px;
    min-width: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    overflow: hidden;
    background: #fff;
    display: none;
}
.dropdown-nav li {
    display: flex;
    flex-direction: column;
    float: none;
}
.hide-on-med-and-down li.d-xl-inline-block .dropdown-nav li a {
    display: block !important;
    color: #222;
    width: 100%;
    height: auto;
    float: none;
    line-height: 30px;
    font-size: 13px;
}
main {
    margin-top: 65px;
    min-height: 100vh;
}

.content_main {
    position: relative;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #f1f1f1;
}

.card-body {
    padding: 2.5rem 2.5rem;
    flex: 1 1 auto;
}

.bg-gradient-danger, .badge-gradient-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096);
}
.bg-gradient-info, .badge-gradient-info {
    background: linear-gradient(to right, #90caf9, #047edf 99%);
}
.bg-gradient-success {
    background: linear-gradient(to right, #84d9d2, #07cdae);
}
.text-white {
    color: #ffffff !important;
}
.card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h4, .h4 {
    font-size: 1.13rem;
}
.mb-5, .my-5 {
    margin-bottom: 2rem !important;
}
h2, .h2 {
    font-size: 3rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
h6, .h6 {
    font-size: .9375rem;
}

.float-right {
    float: right !important;
}

.col-12 {
    width: 100%;
    padding: 0 0.75rem;
}

.grid-margin {
    margin-bottom: 2.5rem;
}

.card .card-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table thead th {
    border-top: 0;
    border-bottom-width: 1px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ebedf2;
}
.table th, .table td {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
}
.table th, .table td {
    padding: 0.9375rem;
    border-top: 1px solid #ebedf2;
}
.table td img.artifacts-img {
    width: 60px;
    height: 36px;
    border-radius: 4px;
    vertical-align: middle;
    object-fit: cover;
}

.table td .audio-dsc {
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: space-between; */
}
.table td .audio-dsc span {
    margin-right: 10px;
}
.table td .audio-dsc i {
    cursor: pointer;
    color: #a9c13b;
}

.table td .ac_t a {
    margin-right: 5px;
}
.table td .badge {
    margin-bottom: 0;
}
.badge-gradient-success {
    background: linear-gradient(to right, #cbe260, #b1c843);
    color: #ffffff;
}
.badge-gradient-danger, .badge-gradient-info {
    color: #fff;
    text-transform: capitalize;
}

.badge-gradient-info {
    background: #03A9F4;
}

.badge-gradient-danger {
    background: #ff7688;
}
.badge {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .125rem;
    font-size: 11px;
    font-weight: initial;
    padding: 5px 10px;
}



/*footer*/

footer.page-footer .footer-copyright p {
    font-size: 12px;
}
footer.page-footer .footer-copyright p a {
    color: #a9c13b;
}

.forms-sample .form-control {
    border: 1px solid #f2f2f2;
    font-size: 14px;
    padding: 10px;
    line-height: 14px;
    font-weight: 400;
    height: auto;
    margin: 0;
    border-radius: 3px !important;
    box-sizing: border-box !important;
}
.form-group {
    margin-bottom: 15px;
}

.forms-sample label {
    font-size: 14px;
    color: #222;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.form-group .file-upload-default {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group .form-control {
    border-bottom: 1px solid #f2f2f2 !important;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group-append button {
    box-shadow: none !important;
    height: 41px;
    border-radius: 0 3px 3px 0;
    background-color: #a9c13b !important;
    z-index: 1;
}
.input-group-append {
    position: relative;
    overflow: hidden;
}
.add_img {
    position: relative;
    width: 100%;
    height: 150px;
    background: #fdfff6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #d0d8ab;
    border-radius: 4px;
}

.add_img .material-icons {
    font-size: 50px;
    color: #a9c13b;
}


.sl_lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.name_lang {
    display: inline-block;
    padding: 3px 10px;
    background: #fbfbfb;
    border: 1px solid #ccc;
    margin: 0 10px 0px;
    border-radius: 3px;
}
.sl_lang label {
    margin: 0   ;
}
.add_new_lang {
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-language {
    position: absolute;
    top: calc(100% + 5px);
    width: 200px;
    background: #fff;
    right: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 15px;
    display: none;
}

.dropdown-language a {
    display: block;
    padding: 5px 0;
    color: #8e8e8e;
    font-size: 14px;
    position: relative;
}
.add_new_lang .add_lg {
    cursor: pointer;
    background: #FF9800;
    border-color: #ff9800;
    color: #fff;
    font-size: 14px;
}
.show {
    display: block;
}
.mb-menu {
    position: absolute;
    width: 25px;
    height: 25px;
    display: none !important;
    top: 18px;
    left: 15px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 11;
}

.mb-menu span.trigger {
    position: relative;
    background: #fff;
    height: 2px;
    width: 100%;
    display: block;
    transition: .5s;
}

.mb-menu span.trigger:before, .mb-menu span.trigger:after {
    content: "";
    background: #fff;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    transition: .5s;
}

.mb-menu span.trigger:before {
    top: -8px;
}

.mb-menu span.trigger:after {
    top: 8px;
}
.mb-menu.open-menu span.trigger {
    background: transparent;
}

.mb-menu.open-menu span.trigger:before {transform: rotate(45deg);top: 0;}
.mb-menu.open-menu span.trigger:after {transform: rotate(-45deg);top: 0;}

.mb-menu.open-menu {
    left: 270px;
}
.side-nav.fixed.open-sidenav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    border-right: 1px solid #e2e2e2;
}
.lang_group {
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* border-bottom: 2px dotted #eee; */
}
.lang_group:last-child {
    border-bottom:0;
}
.grid-rows {
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.col-4 {
    width: 25%;
    padding: 0 10px;
    position: relative;
}

.grid-rows .card-body {
    padding: 15px;
}

.captions p {
    font-size: 13px;
    color: #7f7f7f;
}

.title-hv h1 {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px 0 0;
}

.actions a {
    display: inline-block;
    text-align: center;
    padding: 3px 10px;
    border: 1px solid;
    min-width: 100px;
    border-radius: 4px;
}

.actions a.delete {
    color: #FF9800;
}
.row-search {
    position: relative;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.search_items {
    width: calc(25% - 16px);
    box-sizing: border-box;
    position: relative;
}

.search_items input {
    margin: 0;
    border: 0;
    background: white;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.add_news a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.56rem 1.375rem;
    font-size: 1rem;
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #a9c13b;
}
@media (max-width: 768px) {
    .mb-menu {
        display: flex !important;
    }
    main, footer.page-footer {
        padding-left: 0;
    }
    .table td .badge {
        margin-bottom: 5px;
    }
    .mb-12 {
        width: 100%;
    }
    .search_items {
        width: 33%;
    }
}
@media (max-width: 450px) {
    .row .col.s4 {
        width: 100%;
    }
    .mb_hide {
        display: none;
    }
    .sl_lang {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .name_lang {
        margin: 10px 0;
    }
    .search_items {
        width: 50%;
    }
}
